[Locations]
input_path=/home/imaging/bni_to_process
bni_output_path=/home/imaging/bni_to_process
lib_output_path=/home/imaging/bni_to_process
tmp_path=/tmp
relative_location_jpg=../Jpgs/

[Threading]
number_workers=2
sleep_time=60
images_per_batch=1000

[Logging]
log_file=/tmp/newspaperEncoding.log
log_format=%%(asctime)s %%(levelname)s %%(message)s
log_level=DEBUG

[MySQL]
mysql_host=
mysql_db=
mysql_user=
mysql_pw=

[MinimumSizes]
min_size_jpg=400000
min_size_tif=9000000

[GraphicsMagick]
gm_bin_path=/usr/bin/gm

[Tesseract]
tesseract_bin_path=/usr/bin/tesseract
tesseract_language=eng
tesseract_timeout=15m

[OCR]
gm_surrogate_convert_options=-colorspace Gray,-threshold 50%%,-depth 1,+compress

[HOCR]
gm_surrogate_convert_options=-colorspace Gray,-threshold 50%%,-depth 1,+compress